@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
body {
    background-image: url(img/wallhaven-d6jg9g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    font-family: 'JetBrains+Mono', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

    margin: 10px 0 25px 0;
}
